@font-face {
    font-family: juneBugFont;
    src: url(./assets/junebug/JUNEBUG.TTF);
}

@font-face {
    font-family: frostedCake;
    src: url(./assets/KRFrostedCake.TTF);
}

@font-face {
    font-family: bodyFont;
    src: url(./assets/MerfolkTypeface.ttf);
}
* {
    font-size: 1em;
}
.title-header-summary {
    text-shadow : 2px 2px 5px rgb(192, 57, 255);
    text-decoration: underline wavy white;
    font-family: juneBugFont, "Verdana", "Georgia", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom:10px;

}

summary {
    font-family: juneBugFont, "Verdana", "Georgia", sans-serif;
    text-align: center;
    text-shadow : 2px 2px 5px rgb(192, 57, 255);
    display:none;
}

html {
    background: hsl(274, 76%, 89%);
    font-family: "Verdana", sans-serif;
}

video {
    width: 30%;
    height: 30%;
    position: sticky;
    top: 20px;
}

body {
    margin-left: 20pt;
    font-family: bodyFont;
}

#logo {
    border-width : 1mm;
    border-style: solid;
    border-color: blueviolet;
    width : 30%;
    height : 30%;
    position: static;
    width: 30vw;
}


.attendance {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.agenda{
    width: 300px;
    border: 1px solid white;
    padding: 30px 30px 30px 30px;
    border-radius: 10%;
}

.unfinished-business{
    width: 300px;
    height: 300px;
    max-height: 300px;
    max-width: 300px;
    padding-top: 70px;
    border: 2px solid white;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10%;
}

.new-business {
    width: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid white;
    border-radius: 10%;
}

.business {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

h3 {
    font-family: frostedCake;
    color: color-mix(in srgb, #8970f5 25%, purple);
}

button:hover {
    background-color: rgb(220, 110, 240);
    border: 2px;
    border-radius: 97%;
    border-color: white;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    margin: 3px 2px;
    cursor: pointer;
}

button:active {
    color:color(from blueviolet srgb r g b / 0.6);
}

ol {
    margin: auto;
    display: inline-block;
}


.questions {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    height: 200px;
    width: 200px;
    gap: 10px;
    grid-template-areas:
      "a b b b"
      "a b b b"
      "a c c c"
      "a c c c";
    align-content: stretch;
  }
  .grid1 {
    grid-area: b;
  }
  .grid2 {
    grid-area: e;
  }
  .title {
    grid-area: a;
  }
  a[href*="Panda"] {
    background-color: plum;
  }
  
  h1, h2, h3{
    font-weight: bold;
  }

  div > p {
    background-color: rgb(244, 198, 244);
  }

  p + span {
    color: rgb(102, 0, 117);
  }

  div ~ video {
    border-radius: 10%;
  }

div em {
    color :rgb(102, 0, 117);
}

p.p-color {
   text-decoration: line-through;
}

body:has(img, audio) {
    margin-left: 70px;
}

ul {
  li{
        text-shadow : 2px 2px 5px rgb(192, 57, 255);
    }
  }

 @media (max-width: 600px) {
    html{
        font-family: "Verdana", "Georgia", sans-serif;
    }  
}