html {
    color-scheme: light;
}

video {
    width : 450px;
    height : 350px;
}

body {
    margin-left: 30px;
}

#logo {
    width : 450px;
    height : 350px;
    border : 2px solid blueviolet;
}
h1 {
    text-shadow : 2px 2px 5px rgb(221, 154, 252);
    font-family: 'Georgia', sans-serif;


}